<!DOCTYPE html>
<html>
<head>
    <title>用户管理 - AISO智慧能效评估系统</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- <h1></h1> -->
    <div class="header">
        <!-- <img src="/static/logo.jpg" alt="Company Logo" style="height: 50px; vertical-align: middle; margin-right: 10px;"> -->
        <!-- <h1> page.main_title </h1> -->
        <h1>用户列表</h1>

    </div>
    <div class="container">
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>登录名称</th>
                <th>电子邮件</th>
                <th>角色</th>
                <th>最后一次登录</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td><a href="/user/{{ user[0] }}">修改角色</a> | <a href="/user/{{ user[0] }}">重置密码</a> | <a href="/user/{{ user[0] }}">删除用户</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>