<!DOCTYPE html>
<html>
    <head>
        <title>
            公司 - AISO智慧能效评估系统</title>
            <link rel="icon" type="image/png" href="/static/logo.jpg">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <!-- <h1>Company List</h1> -->
        <div class="header">
            <!-- <img src="/static/logo.jpg" alt="Company Logo" style="height: 50px;
            vertical-align: middle; margin-right: 10px;"> -->
            <!-- <h1> page.main_title </h1> -->
            <h1>公司列表</h1>

        </div>
        <div class="container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>公司名称</th>
                            <th>公司地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <td>{{ company.id }}</td>
                                <td>{{ company.name }}</td>
                                <td>{{ company.address }}</td>
                                <td>
                                    <a href="/company/info?companyid={{ company.id }}">添加公司详细信息</a>
                                    |
                                    <a href="/company/update?companyid={{ company.id }}">修改登记公司信息</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </body>
        </html>