<!DOCTYPE html>
<html>
    <head>
        <title>登记能源评估企业 - AISO智慧能效评估系统</title>
        <link rel="icon" type="image/png" href="/static/logo.jpg">
        <link rel="stylesheet" href="/static/css/formstyle.css">
    </head>
    <body>
        <div class="form-container">
            <h1>登记能源评估企业 - AISO智慧能效评估系统</h1>
            <form id="register-form">
                <div class="form-group">
                    <label for="name">企业名称</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="输入企业名称"
                        required="required">
                </div>
                <div class="form-group">
                    <label for="email">企业地址</label>
                    <input
                        type="text"
                        id="address"
                        name="address"
                        placeholder="输入企业注册地址"
                        required="required">
                </div>
                <button type="submit" class="form-button">登记</button>
            </form>
        </div>

        <script>

            // Run the script automatically when the page loads
            document.getElementById("register-form").addEventListener("submit", async function (event) {
            // document.addEventListener("DOMContentLoaded", async function () {
                const token = localStorage.getItem("authToken");

                if (!token) {
                    alert("You must be logged in to perform this action.");
                    window.location.href = "/login"; // Redirect to login page
                    return;
                }
                event.preventDefault(); // Prevent the default form submission

                // Collect form data
                const name = document
                    .getElementById("name")
                    .value;
                const address = document
                    .getElementById("address")
                    .value;

                // Send data as JSON
                const response = await fetch("/api/v1/company", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${token}`
                    },
                    body: JSON.stringify({name: name, address: address})
                });

                // Handle the response
                if (response.ok) {
                    // console.log(response)
                    alert("登记成功"); window.location.href = "/company";
                } else {
                    const errorData = await response.json();
                    alert("Error: " + (
                        errorData.detail || "Unknown error occurred."
                    ));
                }
            });
        </script>
    </body>
</html>