<!DOCTYPE html>
<html>
<head>
    <title>AISO智慧能效评估系统</title>
    <link rel="icon" type="image/png" href="/static/logo.jpg">
    <link rel="stylesheet" href="/static/css/formstyle.css">
</head>
<body>
    <div class="form-container">
        <h1>登记能源评估企业</h1>
        <form id="register-form">
            <input type="hidden" id="companyid" name="companyid" value="{{ company.id }}">
            <div class="form-group">
                <label for="name">企业名称</label>
                <input type="text" id="name" name="name" placeholder="{{ company.name }}" required>
            </div>
            <div class="form-group">
                <label for="email">企业地址</label>
                <input type="text" id="address" name="address" placeholder="{{ company.address }}" required>
            </div>
            <button type="submit" class="form-button">更新</button>
        </form>
    </div>

    <script>
        // Handle form submission
        document.getElementById("register-form").addEventListener("submit", async function (event) {
             // Retrieve the token from localStorage (or wherever it is stored after login)
            const token = localStorage.getItem("authToken");

            if (!token) {
                alert("You must be logged in to perform this action.");
                window.location.href = "/login"; // Redirect to login page
                return;
            }
            event.preventDefault(); // Prevent the default form submission

            // Collect form data
            const companyid = document.getElementById("companyid").value;
            const name = document.getElementById("name").value;
            const address = document.getElementById("address").value;
            console.log("companyid:", companyid);
            // Send data as JSON
            const response = await fetch(`/api/v1/company?companyid=${companyid}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Bearer ${token}`
                },
                body: JSON.stringify({
                    name: name,
                    address: address
                }),
            });

            // Handle the response
            if (response.ok) {
                alert("更新成功");
                window.location.href = `/company?token=${token}`;
            } else {
                const errorData = await response.json();
                alert("Error: " + (errorData.detail || "Unknown error occurred."));
            }
        });
    </script>
</body>
</html>